body {
  font-family: "proxima-nova",sans-serif;
}

.top-bar {
  background-color: #1C1B39;
  height: 170px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Enriqueta', serif;
}

p code, li code {
  padding: 3px;
  background-color: #E6E6E6;
	font-family: "droid-sans-mono", Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.9em;
  color: #222;
  border-radius: 3px;
}
