*.gem
*.rbc
*.swp
.bundle
.config
.rspec
.rspec-local
.ruby-version
.yardoc
Gemfile.lock
InstalledFiles
_site
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
tags
test/tmp
test/version_tmp
tmp
vendor/
