<div class="bottom-menu">
  <div class="container">
    <div class="row">
      <div class="span2 brand">
        <a href="http://capistranorb.com/" class="capistrano-logo"></a>
      </div>

      <div class="span8">
        <ul class="bottom-links">
          <li><a href="#fakelink">About Capistrano</a></li>
          <li><a href="#fakelink">Contributing</a></li>
          <li><a href="#fakelink">Releases</a></li>
          <li><a href="#fakelink">Upgrading</a></li>
          <li><a href="#fakelink">StackOverflow</a></li>
          <li><a href="#fakelink">Mailing List</a></li>
          <li><a href="#fakelink">Support</a></li>
          <li><a href="#fakelink">Links</a></li>
        </ul>
      </div>

      <div class="span2">
        <ul class="bottom-icons">
          <li><a href="#fakelink" class="fui-twitter"></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
