<div class="harrowBanner">
  <div class="harrowBanner__newRibbon">New!</div>
  <h2 class="harrowBanner__title">Our web-based Capistrano</h2>
  <p class="harrowBanner__p">
    Improve collaboration within your team.
    <br/>
    Hosted, secure and available any time, from anywhere.
  </p>
  <a href="https://www.harrow.io/hosted-capistrano-for-teams/?utm_source=CAP&utm_medium=BAN&utm_term=00001&utm_campaign=00002&utm_campaign=CAP_BAN_00001_00002#hosted-capistrano-for-teams" class="harrowBanner__ctaButton">Try it now!</a>
  <a href="#" class="harrowBanner__dismissLink">No thanks</a>
</div>

<div class="header">
  <div class="row">
    <div class="large-12 column">
      <a href="/" class="brand">
        <img src="/images/CapistranoLogo.png" alt="capistrano logo" />
      </a>
    </div>
    <!-- <div class="large&#45;4 column"> -->
    <!--   {% include carbon.html %} -->
    <!-- </div> -->
  </div>
</div>
