<ul class="side-nav">
  <li><a href="http://www.harrow.io/" class="advertisment"><span class="label label-important">New</span> Hosted Capistrano for Teams</a></li>
  <li class="divider"></li>
  <h5>Overview</h5>
  <li><a href="/documentation/overview/what-is-capistrano/">What is Capistrano?</a></li>
  <li><a href="/documentation/overview/introductory-demo-video/">Introductory Demo Video</a></li>
  <li class="divider"></li>
  <h5>Getting Started</h5>
  <li><a href="/documentation/getting-started/installation/index.html">Installation</a></li>
  <li><a href="/documentation/getting-started/preparing-your-application/index.html">Preparing Your Application</a></li>
  <li><aj href="/documentation/getting-started/authentication-and-authorisation/index.html">Authentication & Authorisation</a></li>
  <li><a href="/documentation/getting-started/cold-start/index.html">Cold Start</a></li>
  <li><a href="/documentation/getting-started/rollbacks/index.html">Rollbacks</a></li>
  <li class="divider"></li>
  <h5>Troubleshooting</h5>
  <li><a href="/documentation/troubleshooting/authentication/index.html">SCM (Git) Authentication</a></li>
  <li><a href="/documentation/troubleshooting/connectivity/index.html">Connectivity</a></li>
  <!--<li><a href="/documentation/troubleshooting/gateway-servers/index.html">Gateway Servers</a></li>-->
  <li><a href="/documentation/troubleshooting/agent-forwarding/index.html">Agent Forwarding</a></li>
  <li><a href="/documentation/troubleshooting/sudo-password/index.html">`sudo` Password</a></li>
  <li><a href="/documentation/troubleshooting/rvm-rbenv-nvm/index.html">RVM, `rbenv` And `nvm`</a></li>
  <li class="divider"></li>
  <h5>FAQ</h5>
  <li><a
    href="/documentation/faq/why-does-something-work-in-my-ssh-session-but-not-in-capistrano/index.html">Why Does Something Work In An SSH Session, But Not In Capistrano?</a></li>
  <li><a href="/documentation/faq/should-i-use-capistrano-to-provision-my-servers/index.html">Should I Use Capistrano To Provision My Servers?</a></li>
  <li class="divider"></li>
  <h5>Power Use-Cases</h5>
  <li><a href="/documentation/power-use-cases/integration-with-rake/index.html">Integration With Rake</a></li>
  <li><a href="/documentation/power-use-cases/driving-tools-such-as-chef-solo/index.html">Driving Tools Such As <em>Chef Solo</em></a></li>
  <li class="divider"></li>
  <h5>Recent Announcements</h5>
  {% for post in site.posts %}
    <li><a href="{{ post.url }}"><span class="post-date">{{ post.date | date_to_string }}</span> {{ post.title }}</a></li>
  {% endfor %}
</ul>
