<div class="pure-menu pure-menu-open">
  <ul class="nav nav-list">
    <li><a href="http://www.harrow.io/" class="advertisment"><span class="label label-important">New</span> Hosted Capistrano for Teams</a></li>
    <li class="pure-menu-heading">Overview</li>
    <li><a href="/documentation/overview/what-is-capistrano/">What is Capistrano?</a></li>
    <li><a href="/documentation/overview/introductory-demo-video/">Introductory Demo Video</a></li>
    <li class="pure-menu-heading">Getting Started</li>
    <li><a href="/documentation/getting-started/installation/">Installation</a></li>
    <li><a href="/documentation/getting-started/preparing-your-application/">Preparing Your Application</a></li>
    <li><a href="/documentation/getting-started/authentication-and-authorisation/">Authentication & Authorisation</a></li>
    <li><a href="/documentation/getting-started/cold-start/">Cold Start</a></li>
    <li><a href="/documentation/getting-started/rollbacks/">Rollbacks</a></li>
    <li class="pure-menu-heading">Troubleshooting</li>
    <li><a href="/documentation/troubleshooting/authentication/">SCM (Git, SVN, etc) Authentication</a></li>
    <li><a href="/documentation/troubleshooting/connectivity/">Connectivity</a></li>
    <li><a href="/documentation/troubleshooting/gateway-servers/">Gateway Servers</a></li>
    <li><a href="/documentation/troubleshooting/agent-forwarding/">Agent Forwarding</a></li>
    <li><a href="/documentation/troubleshooting/sudo-password/">`sudo` Password</a></li>
    <li><a href="/documentation/troubleshooting/rvm-rbenv-nvm/">RVM, `rbenv` And `nvm`</a></li>
    <li class="pure-menu-heading">FAQ</li>
    <li><a href="/documentation/faq/why-does-something-work-in-my-ssh-session-but-not-in-capistrano/">Why Does Something Work In An SSH Session, But Not In Capistrano</a></li>
    <li><a href="/documentation/faq/should-i-use-capistrano-to-provision-my-servers/">Should I Use Capistrano To Provision My Servers?</a></li>
    <li class="pure-menu-heading">Power Use-Cases</li>
    <li><a href="/documentation/power-use-cases/integration-with-rake/">Integration With Rake</a></li>
    <li><a href="/documentation/power-use-cases/driving-tools-such-as-chef-solo/">Driving Tools Such As <em>Chef Solo</em></a></li>
    <li class="pure-menu-heading">Recent Announcements</li>
    {% for post in site.posts %}
      <li><a href="{{ post.url }}"><span class="post-date">{{ post.date | date_to_string }}</span> {{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
