body {
  font-family: "proxima-nova",sans-serif;
}

#carbonads img {
  float: left;
  margin-right: 1em;
}

#carbonads .carbon-text {
  display: block;
  font-size: 0.9em;
  color: silver;
}

#carbonads .carbon-poweredby {
  font-size: 0.75em;
  display: block;
  color: silver
}

.header {
  margin-bottom: 30px;
  padding-top: 20px;
  background-color: #1C1B39;
  min-height: 170px;
}

.harrowBanner {
  overflow: hidden;
  position: absolute;
  top: 140px;
  max-width: 650px;
  left:0;
  right:0;
  box-shadow: 5px 5px 15px rgba(0,0,0, 0.5);
  max-width: 60%;
  margin: auto;
  /* outline: 1px dotted pink; */
  text-align: center;
  background-color: rgba(28, 25, 59, 0.95);
  border: 2px solid rgba(255, 255, 255, 0.75);
  padding: 20px 40px;
  z-index: 10000;
  display: none;
}

.harrowBanner__newRibbon {
  width: 200px;
  background-color: #95b;
  position: absolute;
  top: 0px;
  left: -65px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
  font-weight: bold;
}

.harrowBanner__title {
  color: #fff;
}

.harrowBanner__p {
  color: #fff;
}

.harrowBanner__ctaButton {
  background-color: #4CC1DD;
  border-radius: 3px;
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  display: inline-block;
  margin-bottom: 20px;
}

.harrowBanner__dismissLink {
  color: #fff;
  font-size: 75%;
  display: block;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Enriqueta', serif;
}

.highlighter-rouge {
  margin-bottom: 1.25em;
}

/*p code, li code {
  padding: 3px;
  background-color: #E6E6E6;
	font-family: "droid-sans-mono", Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.9em;
  color: #222;
  border-radius: 3px;
}*/

footer {
  padding: 1em;
  background-color: #222;
  color: #fff;
}

footer a, footer a:hover {
  color: #fff;
}


footer ul.social.icons {
  list-style-type: none;
}

li {
  margin-left: 2em;
}

footer ul.social.icons li.foundicon {
  float: left;
  margin-left: 10px;
  font-size: 5em;
}

footer ul.social.icons li.thanks-dnsimple {
  clear: left;
}

.github-widget {
  margin-bottom: 1em;
}

.github-box .github-box-download {
  height: 44px !important;
}

/*pre code {
  color: #fff;
}*/
