body {
  font-family: "proxima-nova",sans-serif;
}

#carbonads img {
  float: left;
  margin-right: 1em;
}

#carbonads .carbon-text {
  display: block;
  font-size: 0.9em;
  color: silver;
}

#carbonads .carbon-poweredby {
  font-size: 0.75em;
  display: block;
  color: silver
}

.header {
  margin-bottom: 30px;
  padding-top: 20px;
  background-color: #1C1B39;
  min-height: 170px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  font-family: 'Enriqueta', serif;
}

.highlighter-rouge {
  margin-bottom: 1.25em;
}

.alert-box {
  font-weight: normal;
  color: black;

  background-color: #d7ecfa;
  border: none;
  padding-left: 20px;
}

.alert-box.alert {
  background-color: #f7e4e1;
  color: black;
}

.alert-box.success {
  background-color: #e1faea;
  color: black;
}

.alert-box.secondary {
  background-color: #eaeaea;
  color: black;
}

/*p code, li code {
  padding: 3px;
  background-color: #E6E6E6;
	font-family: "droid-sans-mono", Consolas, Monaco, 'Andale Mono', monospace;
  font-size: 0.9em;
  color: #222;
  border-radius: 3px;
}*/

footer {
  padding: 1em;
  background-color: #222;
  color: #fff;
}

footer a, footer a:hover {
  color: #fff;
}


footer ul.social.icons {
  list-style-type: none;
}

li {
  margin-left: 2em;
}

footer ul.social.icons li.foundicon {
  float: left;
  margin-left: 10px;
  font-size: 5em;
}

footer ul.social.icons li.thanks-dnsimple {
  clear: left;
}

.github-widget {
  margin-bottom: 1em;
}

.github-box .github-box-download {
  height: 44px !important;
}

/*pre code {
  color: #fff;
}*/
