/**
 * Dreamweaver theme
 *
 * @author Sean Coker
 * @url http://seancoker.com
 * @version 1.0
 */

pre {
    /* original is white background with no border */
    background-color: #fff;
    word-wrap: break-word;
    margin: 0;
    padding: 10px;
    color: #000;
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 20px
}

pre, code {
    font-family: monospace;
}

pre .comment {
    color: #888;
}

pre .support {
    color: #cd57d5;
}

pre .constant.numeric, pre .php.embedded {
    color: #fa0002;
    font-weight: bold;
}

pre .keyword, pre .constant.language {
    color: #000789;
    font-weight: bold;
}

pre .selector, pre .support.property, pre .entity.name.function {
    color: #000;
}

pre .storage.function, pre .variable.self, pre .support.function, pre .constant.language {
    color: #000;
    font-weight: bold;
}

pre .string {
    color: #0d43fa;
    font-weight: normal;
}

pre .css-property + span, pre .keyword.unit, pre .support.css-value {
    color: #0d43fa !important;
    font-weight: normal !important;
}

pre .entity.tag.style + .string, pre .php.embedded .constant.language, pre .php.embedded .keyword {
    color: #37a348 !important;
}

pre .support.method {
    color: #2bd5bb;
}

pre .entity.name {
    color: #fd74e0;
}

pre .support.css-property, pre .support.tag-name, pre .support.tag, pre .support.attribute, pre .support.attribute + .operator {
    color: #000789;
}

pre .storage.module, pre .storage.class {
    color: #122573;
    font-weight: bold;
}

pre .css.embedded .support.tag, pre .css.embedded .style.tag {
    color: #cd57d5;
}

pre .keyword.operator {
    color: #2852eb;
    font-weight: normal;
}

pre .php.embedded .variable, pre .php.embedded .storage.function {
     color: #0d43fa;
     font-weight: normal;
}

pre .php.embedded .string, pre .js.embedded .tag.script {
     color: #c4001e;
}

pre .php.embedded .comment {
     color: #f4b441;
     font-weight: normal;
}

pre .php.embedded .function.name {
     color: #000;
     font-weight: normal;
}
