<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Enriqueta' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="//use.typekit.net/itm5ubu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link rel="stylesheet" href="/css/capistrano.css">
    <link rel="stylesheet" href="/css/social_foundicons.css" />
    <link rel="stylesheet" href="/css/okaidia.css">
    <script src="/js/vendor/custom.modernizr.js"></script>
  </head>
  <body>

    {% include header.html %}

    <div class="row">
      <div class="large-4 columns">
        {% include navigation.html %}
      </div>
      <div class="large-8 column">
        <div class="content">
          <h2>{{ page.title }}</h2>
          {{ content }}
        </div>
      </div>
    </div>

    <!--<div class="container">                                     -->
      <!--      <h1 class="title"><a href="/">{{ site.name }}</a></h1>-->
      <!--      <a class="extra" href="/">home</a>                    -->
      <!--    </div>                                                  -->

    <!--    {{ content }}                                           -->

    <!--</div> [> /container <]                                     -->

  {% include footer.html %}

  <script src="/js/prism.js"></script>
  <script src="/js/prism.ruby.js"></script>
</body>
</html>
